* {
  box-sizing: border-box;
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
}

.bt {
  border-bottom: 0.1rem solid #ccc;
}

.bayan__list {
  list-style: none;
}

.input {
  appearance: none;
}

.label {
  font-size: 1.5rem;
}
